:root {
    /* Base font size */
    font-size: 10px;
    /* Full grid area variable */
    --fullGrid: 1 / 1 / -1 / -1;
}

body {
    font-family: "Montserrat", Arial, sans-serif;
    background-color: #fcfcfc;
    margin: 0;
    padding: 0;
    transition: all 0.5s ease-out;
}

header {
    display: grid;
    grid-template-rows: 100vh;
    overflow: hidden;
    box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.5);
}

.video-bg {
    grid-area: var(--fullGrid);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    background-attachment: fixed;
    z-index: -1;
}

.video-bg::-webkit-media-controls {
    display: none !important;
}

.video-overlay {
    grid-area: var(--fullGrid);
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
}

h1 {
    font-size: calc(1.8em + 2.5vw);
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    text-shadow: 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.4);
}

main {
    padding: 5em 2em;
    max-width: 94em;
    margin: 0 auto;
}

h2 {
    font-size: calc(3em + 0.2vw);
    font-weight: 600;
    text-align: center;
    margin: 1.2em 0;
    color: #111;
}

h1#id1 {
    color: rgb(197, 189, 176);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.75);
}

p {
    font-size: calc(2em + 0.2vw);
    font-weight: 400;
    line-height: 2;
    color: #222;
}

::-moz-selection {
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
}

::selection {
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
}


/* akhir dari video  */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(31, 16, 16, 0.5);
    overflow-x: hidden;
    transition: all 0.5s ease-in-out;
    padding-top: 60px;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
}

.sidenav a.menu-sidebar {
    padding: 8px 8px 8px 32px;
    font-size: 3rem;
    color: aliceblue;
    margin-top: 10px;
    display: block;
    transition: 0.3s;
    text-decoration-line: none !important;
    font-weight: bolder;
    transition: all 0.5s ease-in-out;
}

.sidenav a.menu-sidebar:hover {
    color: teal;
    transform: scale(1.1) translateX(-25px);
}

.sidenav #closebtn {
    position: absolute;
    top: 0;
    right: 35px;
    font-size: 50px;
    margin-left: 50px;
    transition: all 0.5s ease-in-out;
    text-decoration-line: none !important;
    color: thistle;
    font-weight: bolder;
}

.sidenav #closebtn:hover {
    transform: scale(1.7) rotate(90deg);
    color: turquoise;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

span#btn-side {
    cursor: pointer;
    position: absolute;
    font-size: 70px;
    top: 10px;
    left: 93%;
    color: rgba(160, 200, 245, 0.7);
    transition: 0.5s ease-out;
    text-shadow: 0.05em 0.05em rgba(0, 0, 0, 0.9);
}

span#btn-side:hover {
    transform: rotate(90deg) scale(1.4);
}

footer {
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    text-align: center;
}

div.text-content {
    height: 10%;
    padding: 5%;
    text-align: center;
}


/* =============================================== */

h1#footer# {
    cursor: default;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    margin: auto;
    display: block;
    text-align: center;
}

h1#footer span {
    position: relative;
    top: 20px;
    display: inline-block;
    -webkit-animation: bounce 0.3s ease infinite alternate;
    font-size: 100px;
    color: #fff;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc, 0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent, 0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

h1#footer span:nth-child(2) {
    -webkit-animation-delay: 0.1s;
}

h1#footer span:nth-child(3) {
    -webkit-animation-delay: 0.2s;
}

h1#footer span:nth-child(4) {
    -webkit-animation-delay: 0.3s;
}

h1#footer span:nth-child(5) {
    -webkit-animation-delay: 0.4s;
}

h1#footer span:nth-child(6) {
    -webkit-animation-delay: 0.5s;
}

h1#footer span:nth-child(7) {
    -webkit-animation-delay: 0.6s;
}

h1#footer span:nth-child(8) {
    -webkit-animation-delay: 0.2s;
}

h1#footer span:nth-child(9) {
    -webkit-animation-delay: 0.3s;
}

h1#footer span:nth-child(10) {
    -webkit-animation-delay: 0.4s;
}

h1#footer span:nth-child(11) {
    -webkit-animation-delay: 0.5s;
}

h1#footer span:nth-child(12) {
    -webkit-animation-delay: 0.6s;
}

h1#footer span:nth-child(13) {
    -webkit-animation-delay: 0.7s;
}


/* ANIMATION */

@-webkit-keyframes bounce {
    100% {
        top: -20px;
        text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc, 0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc, 0 50px 25px rgba(0, 0, 0, 0.2);
    }
}